@import '../../assets/css/route';

header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9;
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    }
    
header.scrolled  {
    background: rgba(0, 0, 0, 1);
    }

.navbar-brand {
    font-family: "Jersey 25 Charted", sans-serif;
    letter-spacing: 1px;
    color: $color_1 !important;
    font-size: 50px !important;
    text-transform: uppercase;
    }

.navMenu-links a {
    opacity: 0;
    @include comman;
    color: $color_1;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    }
    
.navMenu-links a:hover {
    color: $color_1;
    text-decoration: underline;
    }


@media (max-width: 991.98px) {
    .navbar-brand { font-size: 40px !important; }
    }