@import '../../assets/css/route';

.footerWrp {
    @include comman;
    padding: 30px 0px;
    background: $color_3;
    }

.copyright {
    @include comman;
    color: $color_4;
    text-align: center;
    }