@import '../../assets/css/route';

.homeBlock-section {
	@include comman;
	padding: 80px 0px 0px;
	}

.homeBlock-section>.container {
	padding: 0px 0px;
	} 

.home_banenrInfo-box {
	height: 100%;
	text-align: left;
	padding: 30px 30px;
	border-radius: 10px;
	background: rgba(256, 256, 256, 0.2);
	box-shadow: inset 0px 0px 10px #404164 !important;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
		& h2 {
			font-weight: 500;
			color: #ffffff;
			margin-bottom: 0px;
			padding-bottom: 15px;
		}
		&:hover {
			transform: scale(1.1);
			background: rgba(0, 0, 0, 0.9);
			box-shadow: none !important;
		}
	}