@import '../../assets/css/route';

.skils-box {
	@include comman;
	padding: 70px 0px;	
	background: rgb(256, 256, 256, 0.04);
    }

.skilsItem-box {
	position: relative;
	display: flex;
	height: 220px;
	padding: 25px 25px;
	margin-bottom: 30px;
	align-items: center;
	background: $color_1;
	justify-content: center;
	}

ul.skills-listing {
	display: flex;
	flex-wrap: wrap;
	padding: 0px 0px;
	list-style: none;
	margin: 0px -10px;
	}

ul.skills-listing>li {
	position: relative;
	padding: 0px 10px 20px;
	}

.skilName-box {
	position: relative;
	display: block;
	padding: 12px 25px;
	border-radius: 0px;
	font-size: 13px;
	color: #ffffff;
	border: 1px solid $color_3;
	-webkit-transition:all 0.4s ease-out;
    -moz-transition:all 0.4s ease-out;
    -o-transition:all 0.4s ease-out;
    -ms-transition:all 0.4s ease-out;
    transition:all 0.4s ease-out;
	}

.skilName-box:hover {
	transform: scale(1.1);
	}

@media (max-width: 1399.98px) {
	ul.skills-listing { margin: 0px -5px; }
	ul.skills-listing>li { padding: 0px 5px 10px; }
	.skilName-box { padding: 10px 20px; font-size: 11px; }
	}

@media (max-width: 991.98px) {
	.skils-box { padding: 0px 0px 50px; }
	.skilName-box { padding: 7px 15px; font-size: 10px; }
	}	